header {
    font-family: serif;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

.search {
    width: 30px;
}

.jumbotron {
    background-image: url(img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}

.bg-it-takes-two {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    /*debug*/
    border: 1px dashed red;
}

.jb-text {
    padding-top: 200px;
}

.card {
    border-radius: 20px;
    border: none;
}

.col-lg {
    /*debug*/
    border: 1px dashed red;
}

.padding-bottom {
    padding-top: 160px;
}  

.monthly-games {
    min-height: 375px;
}




