* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

nav {
    max-height: 60px
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

:root {
    --gray: #bcbcbd;
    --blue: #12153b;
}

.grey {
    background-color: var(--gray);
}

.blue {
    background-color: var(--blue);
}

.sony-logo {
    width: 80px;
}

.lens {
    width: 30px;
}

.globe {
    width: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.nav-link {
    color: #050505;
}

.jumbotron {
    background-image: url(img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}

.bg-it-takes-two {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.card {
    border-radius: 20px;
    border: none;
}

.jb-text {
    padding-top: 200px;
}

.monthly-games {
    min-height: 375px;
}

.bb {
    border-bottom: 3px solid;
}

@media (max-width: 576px) {
    .col-xs-6 {
        flex-basis: calc(100% / 2);
    }

    .col-xs-4 {
        flex-basis: calc(100% / 3);
    }

    .d-sm-none {
        display: none;
    }
}